::-webkit-scrollbar {
    /* // Width of vertical scroll bar */
    width: 8px;
    /* // Height of horizontal scroll bar */
    height: 10px;

  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #1e1e24;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: #555;

  }